@import url("https://fonts.googleapis.com/css?family=Montserrat");
.container .buttonsArea {
  display: flex; }

.container .actions {
  width: 80px;
  height: 80px;
  float: left; }

.container .counter {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 16px; }

.container .phrases {
  font-family: Montserrat; }
  .container .phrases li {
    list-style: none; }

.container .button {
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  cursor: hand;
  border: 0;
  transition: all 0.3s ease 0s;
  padding: 10px;
  margin: 10px;
  font-size: 28px; }
  .container .button:hover {
    font-size: 33px; }
  .container .button:active {
    font-size: 28px; }
